@import 'highlight.js/styles/tokyo-night-dark';

.vac-format-message-wrapper {
	.vac-format-container {
		display: inline;
	}

	.vac-icon-deleted {
		height: 14px;
		width: 14px;
		vertical-align: middle;
		margin: -2px 2px 0 0;
		fill: var(--chat-message-color-deleted);

		&.vac-icon-deleted-room {
			margin: -3px 1px 0 0;
			fill: var(--chat-room-color-message);
		}
	}

	.vac-image-link-container {
		background-color: var(--chat-message-bg-color-media);
		padding: 8px;
		margin: 2px auto;
		border-radius: 4px;
	}

	.vac-image-link {
		position: relative;
		background-color: var(--chat-message-bg-color-image) !important;
		background-size: contain;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		height: 150px;
		width: 150px;
		max-width: 100%;
		border-radius: 4px;
		margin: 0 auto;
	}

	.vac-image-link-message {
		max-width: 166px;
		font-size: 12px;
	}
}

.md-block {
	white-space: normal;
	p {
		margin: 0.2em;
	}
	.md-table-container {
		overflow: auto;
		table {
			border-spacing: 0;
			border: 1px solid #000;
			border-radius: 4px;
			th, td{
				border-left: 1px solid #000;
				border-top: 1px solid #000;
				padding: 4px;
				text-align: left;
			}
			th{
				//background-color: #dce9f9;
				border-top:none;
			}
			td:first-child, th:first-child{
				border-left: none;
			}
			th:first-child{
				border-radius: 4px 0 0 0;
			}
			th:last-child{
				border-radius: 0 4px 0 0;
			}
			tr:last-child td:first-child{
				border-radius: 0 0 0 4px;
			}
			tr:last-child td:last-child{
				border-radius: 0 0 4px 0;
			}
		}
	}
	pre {
		margin: 0.2em;
	}
	pre code{
		@extend .hljs;
		border-radius: 4px;
		//padding: 8px 12px;
		//border: 1px solid #eaeaea;
	}
}
